name = "manos-decapa-contact-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# Production environment
[env.production]
vars = { DOMAIN = "manosdecapa.es", ADMIN_EMAIL = "fiona@manosdecapa.es", FROM_EMAIL = "noreply@manosdecapa.es", FROM_NAME = "Manos De Capa" }

[[env.production.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "manos-decapa-images"

# Development environment - include RESEND_API_KEY for local testing
[env.development]
vars = { DOMAIN = "localhost", ADMIN_EMAIL = "fiona@manosdecapa.es", FROM_EMAIL = "noreply@manosdecapa.es", FROM_NAME = "Manos De Capa", RESEND_API_KEY = "re_j2asSDQi_5F3noANhZkZP4xE8fPoi6oKL" }

[[env.development.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "manos-decapa-images"
